/* Resetowanie stylów i globalne style */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: silver;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

/* Nagłówek */
h1 {
    color: black;
    text-align: center; /* Wyśrodkowanie nagłówka */
}

/* Formularz */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px; /* Większy odstęp między etykietami a polami */
}

input[type="text"], input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select {
    width: 15%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: royalblue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

/* Linki */
a {
    color: #007bff;
    text-decoration: none;
}

/* Komunikaty flash */
.flash-messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.flash-messages li {
    background-color: red;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
